<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href='{%static "css/style.css" %}'>
    <link rel="stylesheet" href='{%static "css/all.min.css" %}'>
    <title>Listado Docente</title>
</head>
<body class="body-home">
    <header class="header">
        <a href="../" class="header-logo">
            <img src="{%static 'assets/logo.jpg' %}">
            <!-- <img src="assets/logos.jpeg"> -->
        </a>
        <h1 class="header-titulo">DOCENTE</h1>
        <ul>
            <li><a id="font-plus"><i class="fa-solid fa-magnifying-glass-plus"></i></a></li>
            <li><a id="switch-mode"><i class="fa-solid fa-cloud-sun"></i></a></li>
            <li><a href="../docentes" class="btn" >Listado de Docentes</a></li>
            {% comment %} <li><a href="../"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li> {% endcomment %}
        </ul>
    </header>

    <main class="home-main">
      <!-- FUNCIONALIDAD -->
      <section class="main-funciones">
          <h2>INGRESO DE DATOS</h2>
          <form method="post">
              <table class="formData" >
                  {{form.as_table}}
                  {% csrf_token %}
                  <input type="submit" class="btn btnEnviar" value="GUARDAR">
              </table>
          </form>
      </section>
  </main>
</body>
<script src='{%static "js/index.js" %}'></script>
</html>